/* Grundlegende Stile */
body {
    margin: 0;
    padding: 50px 0 0;
    background-color: #000; /* Schwarzer Hintergrund */
    color: #fff;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;

    /* Flexbox zur Zentrierung */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Volle Höhe des Viewports */
}

#main-content {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory; /* Scroll Snapping */
}

section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    scroll-snap-align: start; /* Scroll Snapping */
    padding: 20px;
    position: relative;
}

/* Sternenhimmel-Canvas */
#starfield {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Angepasster z-index */
    background-color: transparent;
}

/* Feuerfliegen-Canvas */
#fireflies {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-color: transparent;
}

/* Ladebildschirm */
#loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.loader-content {
    text-align: center;
}

.loader-content h2 {
    font-weight: 300;
    margin-bottom: 20px;
    animation: fadeInText 2s forwards;
}

.spinner {
    border: 8px solid #fff;
    border-top: 8px solid #555;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

/* Login-Bildschirm */
.login-container {
    background-color: #2e2e2e;
    padding: 40px;
    border-radius: 8px; /* Leicht abgerundet */

    /* Box-Shadow für Tiefe und Glow */
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2), /* Leichter Weißer Glow */
    0 4px 30px rgba(0, 0, 0, 0.5);    /* Tieferer Schatten */

    width: 350px;
    text-align: center;

    /* Transition für sanfte Hover-Effekte */
    transition: box-shadow 0.3s ease;
}

.login-container:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3),
    0 8px 30px rgba(0, 0, 0, 0.6);
}

#login-container .modal-content {
    background-color: #111;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    color: #fff;
    max-width: 80%;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

#login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #555;
    border-radius: 4px; /* Minimal abgerundet */
    box-sizing: border-box;
    background-color: #2c2c2c;
    color: #fff;
}

#login-container input::placeholder {
    color: #aaa;
}

#login-container #login-button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50; /* Grüne Farbe */
    color: white;
    border: none;
    border-radius: 4px; /* Minimal abgerundet */
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#login-container #login-button:hover {
    background-color: #45a049;
}

#login-container.hidden {
    display: none;
}

.login-container h1 {
    margin-bottom: 30px;
    font-weight: 700;
}

#login-container h2 {
    margin-bottom: 20px;
    font-size: 2em;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the input fields horizontally */
}

.login-form input {
    padding: 12px 15px;
    margin-bottom: 20px;
    border: 1px solid #555;
    border-radius: 4px; /* Weniger abgerundet */
    font-size: 16px;
    background-color: #3a3a3a;
    color: #fff;

    /* Transition für sanfte Effekte */
    transition: all 0.3s ease;
}

.login-form input:focus {
    outline: none;
    border-color: #ff4d4d;
    box-shadow: 0 0 5px rgba(255, 77, 77, 0.5);
}


.login-form .cta-button {
    padding: 12px 15px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 4px; /* Weniger abgerundet */
    cursor: pointer;
    font-size: 16px;

    /* Transition für sanfte Hover-Effekte */
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.login-form .cta-button:hover {
    background-color: #e60000;
    transform: scale(1.02); /* Sanfteres Zoom */
}

#error-message,
#auth-error,
#login-error {
    color: #ff0000;
    margin-top: 10px;
    font-size: 14px;
    display: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

#start-screen {
    animation: fadeIn 2s forwards;
}

.start-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start-content .prism {
    width: 300px;
    padding-bottom: 50px;
    animation: pulse 5s infinite;
}

#email-input,
#password-input {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border: none;
    border-radius: 15px; /* Mehr abgerundet */
    width: 80%;
    max-width: 300px;
}

#login-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 15px; /* Mehr abgerundet */
    cursor: pointer;
    background-color: #ff0000;
    color: #fff;
    transition: background-color 0.3s, transform 0.3s ease;
}

#login-button:hover {
    background-color: #cc0000;
    transform: scale(1.03);
}

#login-message {
    color: #00ff00; /* Grüne Farbe für Erfolg */
    margin-top: 10px;
    font-size: 14px;
    display: none;
}

.message.hidden {
    display: none !important;
}

.message {
    display: block;
}

/* Sound Activation Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 40;
    animation: fadeIn 0.5s forwards;
}

.modal.hidden {
    display: none;
}

.modal-content {
    background-color: #111;
    padding: 30px;
    border-radius: 15px; /* Mehr abgerundet */
    text-align: center;
    color: #fff;
    max-width: 80%;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
    position: relative;
    z-index: 41;
}

.modal-content .icon-container {
    margin-bottom: 20px;
}

.modal-content p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

#sound-confirm-button {
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    border-radius: 15px; /* Mehr abgerundet */
    background-color: #ff0000;
    color: #fff;
    transition: background-color 0.3s, transform 0.3s ease;
}

#sound-confirm-button:hover {
    background-color: #cc0000;
    transform: scale(1.03);
}

.hidden {
    display: none !important;
}

/* Startbildschirm */
#start-screen {
    animation: fadeIn 2s forwards;
}

.start-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start-content .prism {
    width: 300px;
    padding-bottom: 50px;
    animation: pulse 5s infinite;
}

.cta-button {
    margin-top: 20px;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 700;
    background: linear-gradient(
            45deg,
            #ff0000,
            #ffff00,
            #00ff00,
            #00ffff,
            #0000ff,
            #ff00ff
    );
    background-size: 600% 600%;
    color: #000;
    border: none;
    border-radius: 15px; /* Mehr abgerundet */
    cursor: pointer;
    animation: gradientShift 10s ease infinite;
    transition: transform 0.3s ease, box-shadow 0.3s;
}

.cta-button:hover {
    transform: scale(1.03);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

/* Prominent Quiz Button */
#start-quiz-button.prominent {
    font-size: 24px;
    padding: 20px 40px;
    background: linear-gradient(45deg, #00ff99, #00ccff);
    animation: gradientShift 5s ease infinite;
    box-shadow: 0 0 20px rgba(0, 255, 153, 0.5);
    margin-top: 40px; /* Mehr Abstand oben */
    border-radius: 15px; /* Mehr abgerundet */
}

.quit-button {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #ff0000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.quit-button:hover {
    background-color: #cc0000;
}

/* Erlebnisbereich */
#experience {
    animation: fadeIn 2s forwards;
}

.experience-title {
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 20px;
    animation: floatIn 2s forwards;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
    opacity: 0;
}

.experience-subtitle {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 20px;
    animation: floatIn 2.5s forwards;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    opacity: 0;
}

.experience-description {
    font-size: 1.5em;
    font-weight: 300;
    margin-bottom: 20px;
    animation: floatIn 3s forwards;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    opacity: 0;
}

.down-arrow {
    width: 40px; /* Adjust size if necessary */
    height: auto;
    margin-top: 10px; /* Distance between the text and the arrow */
    animation: floatUpDown 2s infinite;
    pointer-events: none; /* Make sure the arrow is not clickable */
}

/* Up Arrow für Quiz-Seite */
.up-arrow {
    width: 50px;
    height: auto;
    margin-top: 20px;
    animation: floatUpDown 2s infinite;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
}

/* Geheimnisvolles Element */
.secret-icon {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-image: url('assets/images/secret-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 100;
    cursor: pointer;
}

/* Video Container */
#video-container {
    margin-top: -10px;
    margin-bottom: 20px;
    animation: fadeIn 2s;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#video-container #player {
    width: 70vw;
    max-width: 70vw;
    height: 600px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

/* Video Controls */
.video-controls {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#pause-button,
#play-button {
    padding: 15px 30px; /* Größere Buttons */
    font-size: 18px; /* Größere Schrift */
    cursor: pointer;
    border: none;
    border-radius: 15px; /* Mehr abgerundet */
    background-color: #333;
    color: #fff;
    transition: background-color 0.3s, transform 0.3s;
}

#pause-button:hover,
#play-button:hover {
    background-color: #555;
    transform: scale(1.05);
}

/* Quiz-Bereich */
#quiz,
#quiz-result {
    animation: fadeIn 2s forwards;
}

.quiz-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.quiz-card {
    background-color: #222;
    border-radius: 20px; /* Mehr abgerundet */
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
    padding: 30px;
    max-width: 600px;
    width: 100%;
    text-align: center;
    color: #fff;
    transition: transform 0.3s ease, background-color 0.3s ease;
    animation: slideIn 1s forwards; /* Animation hinzugefügt */
    opacity: 0;
}

.quiz-card h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.options {
    margin-bottom: 20px;
}

.options label {
    display: block;
    background-color: #333;
    border: 2px solid #555;
    border-radius: 15px; /* Mehr abgerundet */
    padding: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, border-color 0.3s;
}

.options label:hover {
    background-color: #444;
    transform: scale(1.02);
    border-color: #22ca00;
}

.options input {
    display: none;
}

.options input:checked + span {
    font-weight: bold;
    color: #22ca00;
}

.cta-button {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.cta-button + .cta-button {
    margin-top: 20px;
}

.cta-button:hover {
    background-color: #cc0000;
    transform: scale(1.05);
}

/* Button zum Anfang */
#back-to-start {
    position: fixed;
    bottom: 80px;
    right: 20px;
    padding: 15px 30px;
    font-size: 16px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 15px; /* Mehr abgerundet */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    z-index: 50;
}

#back-to-start:hover {
    background-color: #cc0000;
    transform: scale(1.05);
}

/* Countdown */
#countdown {
    animation: fadeIn 2s forwards;
}

#countdown h2 {
    font-weight: 700;
    margin-bottom: 20px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

#timer {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.flip-card {
    text-align: center;
}

.flip-card span {
    display: block;
    margin-top: 10px;
    font-size: 1em;
}

.flip-card .flip-card-inner {
    position: relative;
    width: 80px;
    height: 100px;
    perspective: 1000px;
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: #222;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    transition: transform 0.6s;
}

.flip-card-front {
    z-index: 2;
}

.flip-card-back {
    transform: rotateX(180deg);
}

.flip-card-inner.flipping .flip-card-front {
    transform: rotateX(-180deg);
}

.flip-card-inner.flipping .flip-card-back {
    transform: rotateX(0deg);
}

/* Galerie */
#gallery {
    animation: fadeIn 2s forwards;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-container img {
    width: 200px;
    height: auto;
    margin: 10px;
    border: 2px solid #fff;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.gallery-container img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px #fff;
}

/* Geheimnisvolles Element */
#secret {
    cursor: pointer;
    z-index: 100;
}

/* Scroll Container */
.scroll-container {
    position: absolute;
    bottom: 60px; /* Abstand vom unteren Rand */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.scroll-text {
    margin: 0;
    font-size: 1.2em;
    color: #ffffff;
    margin-bottom: 10px;
}

.down-arrow {
    width: 40px;
    height: auto;
    animation: floatUpDown 2s infinite;
}

.image-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-image {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
    object-fit: contain;
}

.gallery-image {
    width: 200px; /* Feste Breite für Galerie-Bilder */
    height: auto; /* Behält das Seitenverhältnis bei */
    margin: 10px;
    border: 2px solid #fff;
    border-radius: 10px;
    object-fit: cover; /* Stellt sicher, dass das Bild das Seitenverhältnis beibehält */
    transition: transform 0.3s, box-shadow 0.3s;
}

.gallery-image:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px #fff;
    cursor: pointer;
}

.close-button {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 50px;
    color: white;
    cursor: pointer;
    z-index: 1001;
}

.close-button:hover {
    color: red;
}

/* Header mit Logout-Button */
.header {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000; /* Stellen Sie sicher, dass der Header über anderen Elementen liegt */
}

#logout-button {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
}

#logout-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.05);
    color: white;
}

#logout-button:active {
    transform: scale(1);
}

/* Animationen */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInText {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes floatIn {
    0% {
        opacity: 0;
        transform: translateY(50px) scale(0.8);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Float Up and Down Animation */
@keyframes floatUpDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(15px);
    }
    100% {
        transform: translateY(0);
    }
}

/* Flip Animation */
@keyframes flip {
    0% {
        transform: rotateX(0deg);
    }
    50% {
        transform: rotateX(-90deg);
    }
    100% {
        transform: rotateX(-180deg);
    }
}

/* Countdown Digit Animation */
.flip-card-inner.flipping .flip-card-front {
    animation: flip 0.6s forwards;
}

.flip-card-inner.flipping .flip-card-back {
    animation: flip 0.6s forwards;
}

/* Responsives Design */
@media (max-width: 1400px) {
    #video-container #player {
        max-width: 100%;
        height: 600px;
    }
}

@media (max-width: 1200px) {
    #video-container #player {
        max-width: 1200px; /* Noch breiter */
        height: 600px;
    }
}

@media (max-width: 1024px) {
    #video-container #player {
        max-width: 1000px; /* Noch breiter auf mittleren Bildschirmen */
        height: 600px;
    }
}

@media (max-width: 600px) {
    .quiz-container {
        min-height: auto;
        padding: 10px;
    }

    .quiz-card {
        max-width: 90%;
        padding: 20px;
        border-radius: 15px; /* Mehr abgerundet */
    }

    .quiz-card h2 {
        font-size: 1.2em;
    }

    .cta-button {
        font-size: 16px;
        padding: 12px 24px;
        border-radius: 15px; /* Mehr abgerundet */
    }

    .cta-button.prominent {
        font-size: 18px;
        padding: 15px 30px;
    }

    .experience-title {
        font-size: 2em;
    }

    .experience-subtitle {
        font-size: 1.5em;
    }

    .experience-description {
        font-size: 1.2em;
    }

    .modal-content p {
        font-size: 1em;
    }

    .modal-content .icon-container img {
        width: 48px;
        height: 48px;
        margin-bottom: 20px;
    }

    #timer {
        font-size: 20px;
    }

    .flip-card {
        width: 60px;
        height: 80px;
    }

    .flip-card .flip-card-inner {
        width: 60px;
        height: 80px;
    }

    .flip-card-front,
    .flip-card-back {
        font-size: 1.5em;
    }

    .gallery-container img {
        width: 150px;
    }

    #video-container #player {
        width: 100%;
        height: auto;
    }

    /* Countdown Beschriftungen anpassen */
    .flip-card span {
        font-size: 0.8em;
    }

    /* Arrow Button zum Zurückspringen */
    #back-to-start {
        bottom: 80px;
        right: 20px;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 15px; /* Mehr abgerundet */
    }

    /* Up Arrow Position */
    .up-arrow {
        top: 20px;
        right: 20px;
        width: 40px;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    /* Countdown Beschriftungen anpassen */
    .flip-card span {
        font-size: 1em;
    }

    /* Arrow Button zum Zurückspringen */
    #back-to-start {
        bottom: 80px;
        right: 20px;
        padding: 12px 24px;
        font-size: 16px;
        border-radius: 15px; /* Mehr abgerundet */
    }

    /* Up Arrow Position */
    .up-arrow {
        top: 20px;
        right: 20px;
        width: 40px;
    }
}

/* Quiz Animation */
.quiz-card.animate {
    animation: slideIn 1s forwards;
}
